<div class="container">
    <div class="card card-container">

      <h3 style="text-align: center">Pracownicy</h3> <br><br>

      <div class="">
          <label id="">&nbsp; Lista pracowników:</label>
          <table class="table table-bordered" id="">
            <thead>
              <tr style="background: lightgrey">
                <th scope="col">lp.</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <!-- <th scope="col">Wykształcenie</th>
                <th scope="col">PESEL</th> -->
                <th scope="col">Hasło</th>
                <th scope="col" style="width: 4px;">Opcja</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Jan</td>
                <td>Kowalski</td>
                <td>jan.kowalski@gmail.com</td>
                <td>jsfosfe2432</td>
                <td><button class = "btn btn-sm btn-secondary">Podgląd</button></td>
              </tr>

              <!-- <tr></tr> -->
            </tbody>
          </table>
          <button class = "btn btn-sm btn-secondary">Dodaj</button>
        </div>

<br><br><br><br>
    <div class="container">
        <div class="card card-container">
      <h2>Jan Kowalski</h2>
      <label for="">Imię: Jan</label>
      <label for="">Nazwisko: Kowalski </label>
      <label for="">Email: jan.kowalski@gmail.com</label>
      <label for="">Hasło: jsfosfe2432</label>
      <br>
      <div>
      <div style="width:90%; float:left;">&nbsp;</div>
      <div style="width:10%; float:left">
          <button class = "btn btn-sm btn-danger">Usuń</button>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>


