<div class="container">
    <div class="card card-container">

      <h3 style="text-align: center">Pracownicy</h3> <br><br>

      <div class="">
          <label id="">&nbsp; Lista pracowników:</label>
          <table class="table table-bordered" id="">
            <thead>
              <tr style="background: lightgrey">
                <th scope="col">lp.</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <!-- <th scope="col">Wykształcenie</th>
                <th scope="col">PESEL</th> -->
                <th scope="col">Rola</th>
                <th scope="col" style="width: 4px;">Opcja</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of listOfUsers; let j = index">
                <td>{{j+1}}</td>
                <td>{{i.username}}</td>
                <td>{{i.fullName}}</td>
                <td>{{i.email}}</td>
                <td *ngIf="i.role === 'admin'">{{i.role}}</td>
                <td *ngIf="i.role !== 'admin'">brak</td>
                <td><button class = "btn btn-xs btn-secondary" style="font-size: 9px" (click)="showDetails(i)"><i class="fa fa-reorder"></i></button></td>
              </tr>

              <!-- <tr></tr> -->
            </tbody>
          </table>
          <button class = "btn btn-xs btn-primary" [routerLink]="['registration']" (click)="registration()"><i class="fa fa-plus"></i></button>
        </div>

<br><br><br>
<div *ngIf="showBox == true">
    <div class="container">
        <div class="card card-container">
      <h2>{{showName}}&nbsp;{{showSurName}}</h2>
      <label for="">Imię: {{showName}}</label>
      <label for="">Nazwisko: {{showSurName}} </label>
      <label for="">Email: {{showEmail}}</label>
      <label for="">Hasło: {{showPassword}}</label>
      <br>
      <div>
      <div style="width:90%; float:left;">&nbsp;</div>
      <div style="width:10%; float:left">
          <button class = "btn btn-sm btn-danger" (click)="deactivateUser()">Dezaktywuj</button>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
</div>


