.image {
background: url("../../assets/image/apteka.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 17%;
}


.box{
width: 100%;
margin: 4%;
padding: 4%;
padding-left: 10%;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
/* border: 1px solid black; */
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }