<div class="container">
  <div class="card card-container" style="padding: 2%">

    <h3 style="text-align: center">Sprzedaż</h3> <br><br>

    <div class="">
        <label id="">&nbsp; Lista dokonanych sprzedaży:</label>
        <div class="table-responsive">
            <table class="table table-bordered" id="">
                <thead>
                  <tr style="background: lightgrey">
                    <th scope="col">Lp.</th>
                    <th scope="col">Numer dokumentu sprzedaży</th>
                    <th scope="col">Data sprzedaży</th>
                    <th scope="col" style="width: 4px;">Opcje</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of listOfSales; let j = index">
                    <td>{{j+1}}</td>
                    <td>{{i.documentName}}</td>
                    <td>{{i.dateOfIssue}}</td>
                    <td>
                      <button class = "btn btn-xs btn-secondary" style="font-size: 9px" (click)="showDetails(i)"><i class="fa fa-reorder"></i></button>
                    </td>
                  </tr>

                  <!-- <tr></tr> -->
                </tbody>
              </table>
        </div>

        <!-- <button class = "btn btn-xs btn-primary" (click)="moveToAdd()"><i class="fa fa-plus"></i></button> -->
      </div>

<br><br><br>
<div *ngIf="showBox == true">
  <div class="container">
      <div class="card card-container">
    <h2>Numer sprzedaży: {{showSale.documentName}}</h2>
    <label for="">Data złożenia: {{showSale.formattedDateOfIssue}}</label>
    <label for="">Użytkownik: {{showSale.emailPharmacist}}</label>
    <br> <br>

    <!-- <div *ngIf="showSale.medicamentsSoldWithoutPrescription.length !== 0"> -->

    <div class="table-responsive">
    <label id="">&nbsp; Lista leków zamówionych bez recepty:</label>
    <table class="table table-bordered" id="">
      <thead>
        <tr style="background: lightgrey">
          <th scope="col">Lp.</th>
          <th scope="col">Kod EAN leku</th>
          <th scope="col">Ilość</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of showSale.medicamentsSoldWithoutPrescription; let j = index">
          <td>{{j+1}}</td>
          <td>{{i.eanCode}}</td>
          <td>{{i.quantity}}</td>
        </tr>
      </tbody>
    </table></div>
  <!-- </div> -->

  <!-- <div *ngIf="showSale.medicamentsSoldWithoutPrescription.length !== 0"> -->
    <div *ngFor="let i of showSale.prescriptions" class="table-responsive">
      <br>
      <label id="">&nbsp; Lista leków ze zrealizowanych recept:</label>
        <table class="table table-bordered " id="">
            <thead>
              <tr style="background: lightgrey">
                <th scope="col">Lp.</th>
                <th scope="col">Kod EAN leku</th>
                <th scope="col">Ilość</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let j of i.elements ; let idx = index">
                  <td>{{idx+1}}</td>
                  <td>{{j.eanCode}}</td>
                  <td>{{j.quantity}}</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div>
        <button class="btn btn-xs btn-info" style="font-size: 9px" (click)="download()">Pobierz <i class="fa fa-download"></i> </button>
        <!-- <button class = "btn btn-sm btn-danger" >Dezaktywuj</button> -->

  </div>
    </div>
  </div>
</div>
</div>
</div>


