<div class="container">
  <div class="card card-container">

    <h3 style="text-align: center">Zamówienia</h3> <br><br>

    <div class="">
        <label id="">&nbsp; Lista dokonanych zamówień:</label>
        <table class="table table-bordered" id="">
          <thead>
            <tr style="background: lightgrey">
              <th scope="col">lp.</th>
              <th scope="col">Numer zamówienia</th>
              <th scope="col">Data złożenia</th>
              <th scope="col" style="width: 4px;">Opcje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of listOfOrders; let j = index">
              <td>{{j+1}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>
                <button class = "btn btn-xs btn-secondary" style="font-size: 9px" (click)="showDetails(i)"><i class="fa fa-reorder"></i></button>
                <button class = "btn btn-xs btn-secondary" style="font-size: 9px" (click)="reciveedOrder(i)"><i class="fa fa-reorder"></i></button>
              </td>
            </tr>

            <!-- <tr></tr> -->
          </tbody>
        </table>
        <button class = "btn btn-xs btn-primary" ><i class="fa fa-plus"></i></button>
      </div>

<br><br><br>
<div *ngIf="showBox == true">
  <div class="container">
      <div class="card card-container">
    <h2>Numer zamówienia: {{orderToShow}}</h2>
    <label for="">Imię: {{orderToShow}}</label>
    <label for="">Nazwisko: {{orderToShow}} </label>
    <label for="">Email: {{orderToShow}}</label>
    <label for="">Hasło: {{orderToShow}}</label>
    <br>
    <div>
    <div style="width:90%; float:left;">&nbsp;</div>
    <div style="width:10%; float:left">
        <!-- <button class = "btn btn-sm btn-danger" >Dezaktywuj</button> -->
    </div>
  </div>
    </div>
  </div>
</div>
</div>
</div>


