<div class="container">
  <div class="card card-container">

    <h3 style="text-align: center">Zamówienia</h3> <br><br>

    <div class="">
        <label id="">&nbsp; Lista dokonanych zamówień:</label>
        <table class="table table-bordered" id="">
          <thead>
            <tr style="background: lightgrey">
              <th scope="col">lp.</th>
              <th scope="col">Numer zamówienia</th>
              <th scope="col">Data złożenia</th>
              <th scope="col" style="width: 4px;">Opcje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of listOfOrders; let j = index">
              <td>{{j+1}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>
                <button class = "btn btn-xs btn-secondary" style="font-size: 9px" (click)="showDetails(i)"><i class="fa fa-reorder"></i></button>
                <button class = "btn btn-xs btn-secondary" style="font-size: 9px" (click)="reciveedOrder(i)"><i class="fa fa-reorder"></i></button>
              </td>
            </tr>

            <!-- <tr></tr> -->
          </tbody>
        </table>
        <button class = "btn btn-xs btn-primary" data-toggle="modal" data-target="#createorder" ><i class="fa fa-plus"></i></button>
      </div>

<br><br><br>
<!-- <div *ngIf="showBox == true">
  <div class="container">
      <div class="card card-container">
    <h2>Numer zamówienia: {{orderToShow}}</h2>
    <label for="">Imię: {{orderToShow}}</label>
    <label for="">Nazwisko: {{orderToShow}} </label>
    <label for="">Email: {{orderToShow}}</label>
    <label for="">Hasło: {{orderToShow}}</label>
    <br>
    <div>
    <div style="width:90%; float:left;">&nbsp;</div>
    <div style="width:10%; float:left">
    </div>
  </div>
    </div>
  </div>
</div> -->
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="createorder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">E-recepta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name = "peselPacientER" [(ngModel)]="eanCode"  class="form-control" placeholder="Kod EAN*"/> <br>
        <input type="number" name = "verCodeER" [(ngModel)]="quantity" class="form-control" placeholder="Ilość *"/>
<br>
      <div style = "text-align: center">
        <button type="button" class="btn btn-info" (click)= "loadMedicaments()">Dodaj</button>
      </div>

        <table class="table table-bordered" id="">

        <thead>
          <tr style="background: lightgrey">
            <th scope="col">Kod EAN</th>
            <th scope="col">Ilość</th>
            <th scope="col" style="width: 4%">Opcja</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of listOfMedicaments;">
            <td>{{i[0]}}</td>
            <td>{{i[1]}}</td>
            <td>
              <button class = "btn btn-xs btn-danger" style="font-size: 9px" (click)="removeMedFromList(i)"><i class="fa fa-trash"></i></button>
            </td>
          </tr>

          <!-- <tr></tr> -->
        </tbody>
      </table>
      <br>

      <hr>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-success" (click)= "createOrder()">Zrealizuj</button>
      </div>
    </div>
  </div>
</div>
