<!--The content below is only a placeholder and can be replaced.-->
  <app-navbar></app-navbar>
  <br><br>
  <button [routerLink]="['/magazine']" routerLinkActive="router-link-active" >Magazyn</button>
  <button [routerLink]="['/sale']" routerLinkActive="router-link-active" >Sprzedaż</button>
  <!-- <button [routerLink]="['/']" routerLinkActive="router-link-active" >Recepty</button> -->
  <button [routerLink]="['/orders']" routerLinkActive="router-link-active" >Zamówienia</button>
  <button [routerLink]="['/employees']" routerLinkActive="router-link-active" >Pracownicy</button>
  <router-outlet></router-outlet>
